.about-container {
    margin: 0 10vw;
    height: 100vh;
}

.about-container h2 {
    color: #f3f1d7;
    font-family: 'Raleway', sans-serif;
    font-size: 3em;
    margin: 2vh 0;
}

.about-container p {
    color: white;
    max-width: 40vw;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}

.about-container ul {
    columns: 2;
    width: 40vw;
}

.about-container li {
    color: white;
    font-size: 2em;
    font-family: 'Raleway', sans-serif;
}